<button type="button" *ngIf="id" class="btn btn-danger" (click)="httpService.delete(item.id)">Delete</button>
<form #f="ngForm" (ngSubmit)="save(f.value)" class="example-form">
  <div *ngFor="let itemvalue of item | keyvalue; let i = index" class="container">
    <div *ngIf="!(headers[i] | lowercase).includes('id')" class="form-group">

      <mat-form-field>
        <input matInput #{{headers[i]}}="ngModel" [(ngModel)]="itemvalue.value" name="{{headers[i]}}"
          id="{{headers[i]}}" type="text" class="form-control">
        <mat-placeholder class="placeholder">{{headers[i]}}
        </mat-placeholder>
      </mat-form-field>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>