<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" >BorrowIt</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" routerLink="branches" id="dropdown01">
          Branches
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="branches/create">Create</a>
          <a class="dropdown-item" routerLink="branches/delete">Delete</a>
          <a class="dropdown-item" routerLink="branches/edit">Edit</a>
          <a class="dropdown-item" routerLink="branches/details">Details</a>
        </div>
      </li>
    </ul>
  </div>
</nav>