<nav class="navbar navbar-expand-md navbar-fixed-top">
  <a class="navbar-brand" routerLink="/">BorrowIt</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="Branchdropdown">Branches</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="Branchdropdown">
          <a class="dropdown-item" routerLink="branches">Index</a>
          <a class="dropdown-item" routerLink="branches/create">Create</a>
          <a class="dropdown-item" routerLink="branches/delete">Delete</a>
          <a class="dropdown-item" routerLink="branches/edit">Edit</a>
          <a class="dropdown-item" routerLink="branches/details">Details</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="Userdropdown">Users</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="Userdropdown">
          <a class="dropdown-item" routerLink="users">Index</a>
          <a class="dropdown-item" routerLink="users/create">Create</a>
          <a class="dropdown-item" routerLink="users/delete">Delete</a>
          <a class="dropdown-item" routerLink="users/edit">Edit</a>
          <a class="dropdown-item" routerLink="users/details">Details</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="Userdropdown">Orders</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="Userdropdown">
          <a class="dropdown-item" routerLink="orders">Index</a>
          <a class="dropdown-item" routerLink="orders/create">Create</a>
          <a class="dropdown-item" routerLink="orders/delete">Delete</a>
          <a class="dropdown-item" routerLink="orders/edit">Edit</a>
          <a class="dropdown-item" routerLink="orders/details">Details</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="Userdropdown">Cars</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="Userdropdown">
          <a class="dropdown-item" routerLink="cars">Index</a>
          <a class="dropdown-item" routerLink="cars/create">Create</a>
          <a class="dropdown-item" routerLink="cars/delete">Delete</a>
          <a class="dropdown-item" routerLink="cars/edit">Edit</a>
          <a class="dropdown-item" routerLink="cars/details">Details</a>
        </div>
      </li>
    </ul>
  </div>
</nav>